.slide-enter {
  transform: scaleY(0) translateY(-200px);
  opacity: 0;
}

.slide-enter-active {
  transform: scaleY(1) translateY(0);
  opacity: 1;
  transition: transform 500ms ease-in-out 250ms, opacity 500ms ease-in-out 250ms;
}

.slide-exit {
  transform: scaleY(1) translateY(0);
  opacity: 1;
}

.slide-exit-active {
  transform: scaleY(0) translateY(-200px);
  opacity: 0;
  transition: transform 500ms ease-in-out 250ms, opacity 500ms ease-in-out 250ms;
}

.error-enter {
  transform: translateX(0);
  opacity: 0;
}

.error-enter-active {
  transform: translateX(-200px);
  opacity: 1;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
}
.error-enter-done {
  transform: translateX(-200px);
}

.error-exit {
  transform: translateX(-200px);
  opacity: 1;
}

.error-exit-active {
  transform: translateX(0);
  opacity: 0;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
}

.error-wrapper {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
}
